@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Quicksand:wght@300..700&display=swap');

@font-face {
  font-family: infinity;
  src: url(infinity.ttf);
}

@font-face {
  font-family: vonique;
  src: url(Vonique\ 64\ Bold.ttf);
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(#4261c9, #c29ce7);
  background-image: url(bg1.gif);
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center center;
  background-repeat:no-repeat;
  font-family: "Lexend Exa", serif;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap; 
  gap: 10px; 
}

.card {
  width: 200px; 
  height: 320px;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 20px;
  perspective: 1000px;
}

.card img {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.1);
}

.card .card-front,
.card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
}

.card .card-back {
  background-image: url("cards/tarotverso.webp"); 
  background-size: cover;
  transform: rotateY(0deg);
}

.card .card-front {
  display: block;
  background-size: cover;
  transform: rotateY(180deg);
  border-radius: 20px;
}

.card.revealed {
  transform: rotateY(180deg);
}

.card-details {
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  font-size: 1.2em;
  color: #333;
  border-radius: 25px;
}

.card-details h2 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 25px;
  font-family: "infinity";
}

.card-details h3 {
  color: rgba(255, 255, 255, 0.671);
  letter-spacing: 4px;
  font-size: 15px;
  margin-top: -15px;
  font-family: "vonique";
  text-transform: uppercase;
}

.card-details p {
  color: rgb(255, 255, 255);
  font-size: 15px;
}

#drawButton {
  font-size: 1.2em;
  margin: 15px;
  padding: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #0000001a;
  border: 1px solid rgba(255, 255, 255, 0.541);
  color: white;
  font-family: "vonique";
}

#drawButton:hover {
  letter-spacing: 4px;
  transition: 1s;
}

.logo {
  width: 300px;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .card {
    width: 300px; 
    height: 480px;
  }
  .card-details h2 {
    letter-spacing: 10px;
    font-size: 35px;
  }
  .card-details h3 {
    margin-top: -25px;
  }
}